
RecordEdits

Define DiscreteDistribution { GPBranchDist  HospitalBranchDist }
Define ExponentialDistribution { PatientArrivalDistribution  PersonArrivalDistribution }
Define UniformDistribution { GPDistribution  HospitalDistribution }
Define Branch { GPBranch  HospitalBranch }
Define EntityConveyor { ArriveToGP  ArriveToHospital  GPBackToGP  GPToExit  GPToHospital  HospitalBackToHospital  HospitalToExit  HospitalToGp  LeavingGP  LeavingHospital }
Define EntityGenerator { PatientGenerator  PersonGenerator }
Define EntitySink { PatientExit  PersonExit }
Define Queue { GPQueue  HospitalQueue }
Define Server { GP  Hospital }
Define SimEntity { PatientEntity  PersonEntity }
Define ColladaModel { Axis  Grid100x100 }
Define ImageModel { ctscanner-model  patient-model }
Define DisplayEntity { XY-Grid  XYZ-Axis }
Define EntityLabel { PatientEntity_Label }
Define OverlayClock { Clock }
Define OverlayText { Title }
Define View { View1 }

GPBranchDist UnitType { DimensionlessUnit }
HospitalBranchDist UnitType { DimensionlessUnit }
PatientArrivalDistribution UnitType { TimeUnit }
PersonArrivalDistribution UnitType { TimeUnit }
GPDistribution UnitType { TimeUnit }
HospitalDistribution UnitType { TimeUnit }

Simulation Description { 'Simulation run control inputs' }
Simulation RunDuration { 7  d }
Simulation RunOutputList { { ' ([CT1].Utilisation + [**DeletedEntity**].Utilisation + [**DeletedEntity**].Utilisation)/3' } }
Simulation ScenarioIndexDefinitionList { 2 }
Simulation StartingScenarioNumber { 1 }
Simulation EndingScenarioNumber { 2 }
Simulation NumberOfReplications { 50 }
Simulation PrintConfidenceIntervals { FALSE }

# *** DiscreteDistribution ***

GPBranchDist RandomSeed { 6 }
GPBranchDist ValueList { 1  2  3 }
GPBranchDist ProbabilityList { 0.3333  0.3333  0.3333 }

HospitalBranchDist RandomSeed { 5 }
HospitalBranchDist ValueList { 1  2  3 }
HospitalBranchDist ProbabilityList { 0.3333  0.3333  0.3333 }

# *** ExponentialDistribution ***

PatientArrivalDistribution RandomSeed { 8 }
PatientArrivalDistribution Mean { 1.25  h }

PersonArrivalDistribution RandomSeed { 1 }
PersonArrivalDistribution Mean { 1.25  h }

# *** UniformDistribution ***

GPDistribution RandomSeed { 4 }
GPDistribution MinValue { 0.5  h }
GPDistribution MaxValue { 1.5  h }

HospitalDistribution RandomSeed { 2 }
HospitalDistribution MinValue { 0.5  h }
HospitalDistribution MaxValue { 1.5  h }

# *** Branch ***

GPBranch NextComponentList { GPBackToGP  GPToExit  GPToHospital }
GPBranch Choice { GPBranchDist }

HospitalBranch NextComponentList { HospitalBackToHospital  HospitalToExit  HospitalToGp }
HospitalBranch Choice { HospitalBranchDist }

# *** EntityConveyor ***

ArriveToGP NextComponent { GP }
ArriveToGP TravelTime { 30  s }

ArriveToHospital NextComponent { Hospital }
ArriveToHospital TravelTime { 30  s }

GPBackToGP NextComponent { GP }
GPBackToGP TravelTime { 30  s }

GPToExit NextComponent { PersonExit }
GPToExit TravelTime { 30  s }

GPToHospital NextComponent { Hospital }
GPToHospital TravelTime { 30  s }

HospitalBackToHospital NextComponent { Hospital }
HospitalBackToHospital TravelTime { 30  s }

HospitalToExit NextComponent { PatientExit }
HospitalToExit TravelTime { 30  s }

HospitalToGp NextComponent { GP }
HospitalToGp TravelTime { 30  s }

LeavingGP NextComponent { GPBranch }
LeavingGP TravelTime { 30  s }

LeavingHospital NextComponent { HospitalBranch }
LeavingHospital TravelTime { 30  s }

# *** EntityGenerator ***

PatientGenerator NextComponent { ArriveToHospital }
PatientGenerator FirstArrivalTime { [PatientArrivalDistribution].Value }
PatientGenerator InterArrivalTime { [PatientArrivalDistribution].Value }
PatientGenerator PrototypeEntity { PatientEntity }

PersonGenerator NextComponent { ArriveToGP }
PersonGenerator FirstArrivalTime { [PersonArrivalDistribution].Value }
PersonGenerator InterArrivalTime { [PersonArrivalDistribution].Value }
PersonGenerator PrototypeEntity { PersonEntity }

# *** EntitySink ***



# *** Queue ***



# *** Server ***

GP NextComponent { LeavingGP }
GP WaitQueue { GPQueue }
GP ServiceTime { [GPDistribution].Value }

Hospital NextComponent { LeavingHospital }
Hospital WaitQueue { HospitalQueue }
Hospital ServiceTime { [HospitalDistribution].Value }

# *** SimEntity ***



# *** GRAPHICS INPUTS ***

Simulation RealTime { TRUE }
Simulation SnapToGrid { TRUE }
Simulation RealTimeFactor { 7808 }
Simulation ShowLabels { TRUE }
Simulation ShowSubModels { TRUE }
Simulation ShowModelBuilder { TRUE }
Simulation ShowObjectSelector { TRUE }
Simulation ShowInputEditor { TRUE }
Simulation ShowOutputViewer { TRUE }
Simulation ShowPropertyViewer { FALSE }
Simulation ShowLogViewer { FALSE }
Simulation InputEditorPos { 314  721 }
Simulation InputEditorSize { 520  212 }
Simulation OutputViewerPos { 894  686 }
Simulation OutputViewerSize { 420  212 }

GPBranchDist Position { 7.2  2.9  0.0  m }

HospitalBranchDist Position { 7.7  -5.0  0.0  m }

PatientArrivalDistribution Position { -2.6  -2.8  0.0  m }

PersonArrivalDistribution Position { -2.5  0.9  0.0  m }

GPDistribution Position { 3.1  3.1  0.0  m }

HospitalDistribution Position { 3.1  -5.9  0.0  m }

GPBranch Position { 5.9  0.7  0.0  m }

HospitalBranch Position { 5.9  -2.9  0.0  m }

ArriveToGP Points { { 1.2  0.7  0.0  m } { 2.1  0.7  0.0  m } }

ArriveToHospital Points { { 1.1  -3.0  0.0  m } { 2.0  -3.0  0.0  m } }

GPBackToGP Points { { 7.0  0.9  0.0  m } { 4.1  1.9  0.0  m } }

GPToExit Points { { 7.0  0.7  0.0  m } { 8.0  0.7  0.0  m } }

GPToHospital Points { { 3.7  -2.3  0.0  m } { 7.0  0.6  0.0  m } }

HospitalBackToHospital Points { { 6.7  -3.2  0.0  m } { 3.9  -4.4  0.0  m } }

HospitalToExit Points { { 6.8  -2.9  0.0  m } { 7.8  -2.9  0.0  m } }

HospitalToGp Points { { 6.8  -2.8  0.0  m } { 3.3  0.0  0.0  m } }

LeavingGP Points { { 3.8  0.6  0.0  m } { 4.7  0.6  0.0  m } }

LeavingHospital Points { { 4.0  -3.0  0.0  m } { 4.9  -3.0  0.0  m } }

PatientGenerator Position { -0.2  -2.8  0.0  m }

PersonGenerator Position { -0.2  0.8  0.0  m }

PatientExit Position { 9.2  -2.8  0.0  m }

PersonExit Position { 8.9  0.8  0.0  m }

GPQueue Position { 3.0  1.8  0.0  m }

HospitalQueue Position { 3.0  -4.4  0.0  m }
HospitalQueue Size {  }

GP Position { 3.0  0.7  0.0  m }

Hospital Position { 3.1  -2.9  0.0  m }
Hospital Size { 1.000000  1.000000  1.0  m }
Hospital DisplayModel {  }

PatientEntity Position { -0.2  -4.3  0.0  m }
PatientEntity Alignment { 0.0  0.0  -0.5 }
PatientEntity Size { 0.500000  0.500000  1.0  m }
PatientEntity DisplayModel { Cube  Triangle }

PersonEntity Position { -0.1  2.0  0.0  m }
PersonEntity Alignment { 0.0  0.0  -0.5 }
PersonEntity Size { 0.500000  0.500000  1.0  m }
PersonEntity DisplayModel {  }

# *** ColladaModel ***

Axis ColladaFile { <res>/shapes/axis_text.dae }

Grid100x100 ColladaFile { <res>/shapes/grid100x100.dae }

# *** DisplayEntity ***

XY-Grid Description { 'Grid for the X-Y plane (100 m x 100 m)' }
XY-Grid Size { 100  100  m }
XY-Grid DisplayModel { Grid100x100 }
XY-Grid Movable { FALSE }

XYZ-Axis Description { 'Unit vectors' }
XYZ-Axis Alignment { -0.4393409  -0.4410096  -0.4394292 }
XYZ-Axis Size { 1.125000  1.1568242  1.1266404  m }
XYZ-Axis DisplayModel { Axis }
XYZ-Axis Show { FALSE }
XYZ-Axis Movable { FALSE }

# *** EntityLabel ***

PatientEntity_Label Position { 0.0  -0.6  0.0  m }
PatientEntity_Label Size { 1.5  0.3  1.0  m }
PatientEntity_Label RelativeEntity { PatientEntity }
PatientEntity_Label Show { FALSE }
PatientEntity_Label TargetEntity { PatientEntity }

# *** OverlayClock ***

Clock Description { 'Simulation date and time' }
Clock ScreenPosition { 15  15 }
Clock AlignBottom { TRUE }
Clock TextHeight { 10 }
Clock FontColour { gray20 }
Clock FontStyle { ITALIC }
Clock DateFormat { 'yyyy-MMM-dd HH:mm:ss.SSS' }

# *** OverlayText ***

Title Description { 'Title for the simulation model' }
Title ScreenPosition { 15  15 }
Title Format { 'Model Title' }
Title TextHeight { 18 }
Title FontColour { 150  23  46 }
Title FontStyle { BOLD }

# *** View ***

View1 Description { 'Default view window' }
View1 ViewCenter { 3.636441  -1.723902  9.470932  m }
View1 ViewPosition { 3.636441  -1.723902  18.359091  m }
View1 WindowPosition { 221  115 }
View1 ShowWindow { TRUE }
View1 Lock2D { TRUE }
View1 SkyboxImage { <res>/images/sky_map_2048x1024.jpg }
